<!-- Add/Edit book form -->
<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">
      <!-- Dynamic title -->
      <h2 class="mb-4">{{ isEditMode ? 'Edit Book' : 'Add New Book' }}</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">

          <label class="form-label">Title</label>
          <input type="text" class="form-control" formControlName="title">
        </div>

        <div class="mb-3">
          <label class="form-label">Author</label>
          <input type="text" class="form-control" formControlName="author">
        </div>

        <div class="mb-3">
          <label class="form-label">Published Date</label>
          <input type="date" class="form-control" formControlName="publishedDate">
        </div>

        <button class="btn btn-success" type="submit">
          <i class="fa-solid fa-floppy-disk me-2"></i>
          Save
        </button>
      </form>
    </div>
  </div>
</div>
